.todo{
    width: 20%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .25em;
    border-radius: .75em;
    margin: .5em;
    cursor: pointer;
}
.todo h3{
    margin: 0;
}
.todo p{
    margin: 0;
}
.completed{
    opacity: 50%;
    background-color: lightgreen;
    text-decoration: line-through;
}
#todoitems-incomplete{
    border: 1px solid black;
}
#todoitems-complete{
    border: 1px solid blue
}