body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}
h1{
    text-align: center;
}
main{
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    border: 1px solid black;
    border-radius: .5em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-color: whitesmoke;
}
main > h3{
    margin-left: 1em;
}
.todo{
    width: 20%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .25em;
    border-radius: .75em;
    margin: .5em;
    cursor: pointer;
    display: inline-block;
}
.todo h3{
    margin: 0;
}
.todo p{
    margin: 0;
}
.completed{
    opacity: 50%;
    background-color: lightgreen;
    text-decoration: line-through;
}
#todoitems-incomplete{
    border-bottom: 1px solid black;
}
form{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1em;
    border: 1px solid black;
    border-radius: .5em;
    background-color: lightgray;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}